@page
@model ImportModel
@{
    ViewData["Title"] = "导入";
}

    <div class="text-center">
        <h1 class="display-4">导入数据</h1>
        <form method="post">
            <p>
                <input class="btn-info btn-lg" type="submit" value="导入数据" />
            </p>
        </form>
    </div>
